<div>
    {{!-- Title Card --}}
    <div class="container">
        <div class="row page-title">
            <div class="col-sm">
            </div>
            <div class="col-sm text-center display-2 border rounded border-dark border-4">
                UpGrad
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
    {{!-- Center Text --}}
    <div class="container">
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner text-center" role="listbox">
                <div class="carousel-item active text-center justify-content-center" id="first-slide">
                    <div class="d-flex h-100 align-items-center justify-content-center">
                        <p class="justify-content-center">"Coming together is a beginning, staying together is
                            progress, and
                            working
                            together is success." - Harrison Ford</p>
                    </div>
                </div>
                <div class="carousel-item text-center p-4" id="second-slide">
                    <div class="d-flex h-100 align-items-center justify-content-center">
                        <p class="justify-content-center">Explore projects and connect with your peers!</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    </div>
    {{!-- Sign up and Log In --}}
    <div class="d-flex justify-content-center"> <button type="button" class="btn btn-light btn-lg rounded-pill"
            id="homepage-signup">Sign up</button>
    </div>
    <br>
    <div class="d-flex justify-content-center"> <button type="button" class="btn btn-outline-dark btn-lg rounded-pill"
            id="homepage-login">Log
            in</button>
    </div>
</div>

<script src="/js/homepage.js"></script>